.text-primary-300 {
  color: #0C6C5F;
}

.text-gray-500 {
  color: #546277;
}

.text-gray-300 {
  color: #344154;
}

.text-gray-100 {
  color: #173753;
}

.bg-primary-600 {
  background-color: rgb(233, 255, 248);
}

.hover\:bg-primary-500:hover {
  background-color: #D7FCF1;
}